// Déclaration des fonts
@font-face {
    font-family: "inter";
    src: url(../fonts/Inter_18pt-Regular.ttf);
}

// Déclaration des couleurs et des variables
$font: "inter";
$back: rgb(39, 39, 39);
$footerColor: rgb(15, 14, 14);
$text: rgb(75, 77, 196);
$backtext: rgb(72, 65, 242);

// Paramètres généraux
* {
    list-style: none;
    font-family: $font;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    background-color: $back;
    color: whitesmoke;
}
