// Déclaration des fonts
@font-face {
    font-family: "inter";
    src: url(../fonts/Inter_18pt-Regular.ttf);
}

// Déclaration des couleurs et des variables
$font: "inter";
$back: rgb(39, 39, 39);
$footerColor: rgb(15, 14, 14);
$text: rgb(75, 77, 196);
$backtext: rgb(72, 65, 242);

// Paramètres généraux
* {
    list-style: none;
    font-family: $font;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    background-color: $back;
    color: whitesmoke;
    cursor: none;
}
.followMouse1 {
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50px;
    border: 2px solid rgb(211, 58, 58);
    background-color: rgb(58, 211, 78);
    transform: translate(-50%, -50%);
    z-index: 5;
}
.followMouse2 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 500px;
    border: none;
    background-color: rgb(171, 173, 171);
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    // opacity: 0.5;
    z-index: 4;
}
.followMouse3 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 500px;
    border: none;
    background-color: rgb(20, 24, 21);
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    // opacity: 0.5;
    z-index: 3;
}
